.sub {
  background: linear-gradient(139.41deg, #3c79fe 13.26%, #7b1ad2 106.32%);
}
.sub:hover {
  background-image: linear-gradient(
    148.98deg,
    #3c79fe -122.06%,
    #7b1ad2 107.07%
  );
}
.sub:active {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(148.98deg, #3c79fe -122.06%, #7b1ad2 107.07%);
}

.img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(29px);
  border-top-right-radius: 24px;
}
