@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .home-container {
    @apply px-[15px] sm:px-[72px];
  }
  .form-label {
    @apply block mb-2 text-md font-[500] text-white;
  }
  .content-center {
    @apply flex justify-center items-center;
  }
  .auth-box {
    @apply w-full md:w-[353px] lg:w-[415px] h-[48px] max-w-full;
  }
  .pricing-btn {
    @apply content-center w-[82.5px] h-[32px] rounded-[32px] px-[16px];
  }
  .pricing-box {
    @apply bg-neutral-800 rounded-[16px] h-[701px];
  }
  .update-user-inputs {
    @apply rounded-[8px] outline-none bg-transparent  w-[318px] h-[48px];
  }
}
h1 {
  font-size: 40px;
  line-height: 48px;
}
h2 {
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}
h4 {
  font-size: 28px;
  line-height: 36px;
}
h5 {
  font-size: 24px;
  line-height: 32px;
}
h6 {
  font-size: 20px;
  line-height: 28px;
}
input,
button {
  outline: none;
}
/* Custom styles */
.coloredBtn {
  background: linear-gradient(139.41deg, #3c79fe 13.26%, #7b1ad2 106.32%);
}
.coloredBtn-home-header {
  background: linear-gradient(91.85deg, #397dff 0%, #7e16d0 100%);
}
.coloredBtn-pricing {
  background: linear-gradient(180deg, #397dff -124.22%, #7e16d0 100%);
}
.coloredBtn:hover,
.coloredBtn-pricing:hover,
.coloredBtn-home-header:hover {
  background-image: linear-gradient(
    148.98deg,
    #3c79fe -122.06%,
    #7b1ad2 107.07%
  );
}
.coloredBtn:active,
.coloredBtn-pricing:active {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(148.98deg, #3c79fe -122.06%, #7b1ad2 107.07%);
}
.onSub {
  background-image: linear-gradient(
    148.98deg,
    #3c79fe -122.06%,
    #7b1ad2 107.07%
  );
  opacity: 0.4;
}
.primary-border {
  background: linear-gradient(#1f2038, #1f2038) padding-box,
    linear-gradient(139.41deg, #3c79fe 13.26%, #7b1ad2 106.32%) border-box;
  border-radius: 16px;
  border: 2px solid transparent;
}
.nonFilledBtn {
  background: linear-gradient(#1f2038, #1f2038) padding-box,
    linear-gradient(139.41deg, #3c79fe 13.26%, #7b1ad2 106.32%) border-box;
  border-radius: 8px;
  border: 2px solid transparent;
}
.nonFilledBtn:hover {
  border: none;
  background: linear-gradient(148.98deg, #3c79fe -122.06%, #7b1ad2 107.07%);
}
.nonFilledBtn:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(148.98deg, #3c79fe -122.06%, #7b1ad2 107.07%);
}
/* scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #22233f;
}

::-webkit-scrollbar-thumb {
  background: white;
}
/* pricing slider */
input[type="range"] {
  -webkit-appearance: none;
  height: 7px;
  background: #31345e;
  border-radius: 5px;
  background-image: linear-gradient(#0473fb, #0473fb);
  background-repeat: no-repeat;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #0473fb;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: #0473fb 0px 0px 0px 8px;
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: #0473fb 0px 0px 0px 11px;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 350ms cubic- bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
/* dashed border */
.dashed-border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='rgba(255,255,255,0.82)' stroke-width='1' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
.dashed-border-dashboard {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='rgb(4,115,251)' stroke-width='1' stroke-dasharray='8' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
}
/* home animation */

@keyframes fadeTop {
  0% {
    transform: translateY(22%);
  }
  100% {
    transform: translateY(-22%);
  }
}
@keyframes fadeBottom {
  0% {
    transform: translateY(-22%);
  }
  100% {
    transform: translateY(22%);
  }
}
@keyframes container {
  0% {
    transform: translateY(800%);
  }
  100% {
    transform: translateY(-850%);
  }
}
.top-animation {
  animation: fadeTop 10s linear 2s infinite alternate;
}
.bottom-animation {
  animation: fadeBottom 10s linear 2s infinite alternate;
}

@media screen and (max-width: 576px) {
  .top-animation,
  .bottom-animation {
    animation: none;
  }
  .container-animation {
    animation: container 25s linear 2s infinite alternate;
  }
}
